.custom-select-container {
  position: relative;
  box-sizing: border-box;
}
.custom-select-container * {
  box-sizing: border-box;
}
.custom-select-container.is-disabled {
  opacity: .333;
}
.custom-select-opener {
  position: relative;
  background-color: #fff;
  padding: 9px 42px 9px 21px;
  display: block;
  cursor: pointer;
  width: 100%;
  border: 1px solid #C4C4C4;
  color: $color-accent;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    display: block;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 7px 0 7px;
    border-color: $color-accent transparent transparent transparent;
  }
}
.custom-select-container select {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.custom-select-panel {
  max-height: 0;
  transition: max-height .5s ease-out, overflow-y 0.1s 0.5s;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 100%;
}
.custom-select-container.is-open .custom-select-panel {
  position: absolute;
  top: 99%;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #C4C4C4;
}
.custom-select-option {
  padding: 9px 21px;
  color: $color-accent;
}
.custom-select-option.has-focus {
  //background-color: #ddd;
}
// .custom-select-option.is-selected::before {
//   content: "✔";
//   padding-right: 0.5em;
// }
.custom-select-optgroup > .custom-select-option {
  padding-left: 2em;
}
.custom-select-optgroup::before {
  content: attr(data-label);
  display: block;
  padding: 0.5em;
  color: #888;
}
