    <link rel="icon" type="image/x-icon" href="icons/favicon.ico" />
    <link rel="icon" type="image/png" href="icons/speeddial-160px.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="icons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="icons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ !icons/apple-touch-icon-57x57-precomposed.png|thumbnail!!icons/apple-touch-icon-72x72-precomposed.png|thumbnail!  !icons/speeddial-160px.png|thumbnail!  !icons/apple-touch-icon-114x114-precomposed.png|thumbnail!  [^favicon.ico] icons/apple-touch-icon-57x57-precomposed.png">
    <link rel="icon" href="icons/favicon.ico" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="icons/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icons/ [^icon.svg]  !apple-touch-icon.png|thumbnail! apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="icons/site.webmanifest">