<div class="page-footer">

  <div class="footer">

    <div class="container footer-container">

      <div class="footer-logo"></div>

      <div class="footer-content">
        <div class="footer-content-row">
          109443, г. Москва,<br> Волгоградский пр-кт, д. 145/8, этаж 1, помещ. 4, комн. 1</div>
        <div class="footer-content-row">
          <ul class="footer-menu">
            <li><a href="#">Карта сайта</a></li>
            <li><a href="#">Политика конфиденциальности</a></li>
            <li><a href="#">Публичная оферта</a></li>
          </ul>
        </div>
        <div class="footer-content-row">
          <div class="footer-copyright">Все права на содержание ресурса принадлежат ТМ RDW Computers ©2021</div>
        </div>
      </div>

      <div class="footer-contacts">
        <div class="footer-content-row">
          <a href="#" class="footer-phone">+7 495 480-68-45</a>
        </div>
        <div class="footer-content-row">
          <div class="social footer-social">
            <a href="#!" class="social-item social-item-in"></a>
            <a href="#!" class="social-item social-item-vk"></a>
            <a href="#!" class="social-item social-item-fb"></a>
            <a href="#!" class="social-item social-item-yt-name"></a>
          </div>
        </div>
        <div class="footer-content-row">
          <a href="contacts.html" class="btn footer-btn">схема проезда</a>
        </div>
      </div>

    </div>

  </div>

  <!-- <div class="cookie-warning">
    <div class="container">	Мы используем cookie-файлы для оптимизации сайта и улучшения его качества. Продолжая работу с сайтом, вы подтверждаете согласие с <a href="#">политикой конфиденциальности</a>.</div>
  </div> -->

</div>