<header class="header header-fixed">

  <div class="container header-container">

    <div class="header-row header-row-top">
      <a href="index.html" class="header-logo"></a>

      <!-- <a href="tel:74954806845" class="header-phone">+7 495 480-68-45</a> -->

      <div class="auth">

        <div class="auth-lang">
          <a href="#!">ru</a>
          <a href="#!">en</a>
        </div>

        <div class="auth-search">
          <div class="auth-search-icon"></div>
          <div class="auth-search-field">
            <input type="text" placeholder="Поиск">
          </div>
        </div>

        <a href="tel:74954806845" class="auth-phone">+7 495 480-68-45</a>

      </div>

      <div class="header-icon">
        <div id="nav-icon-open" class="nav-icon"><span></span></div>
      </div>
    </div>

    <div class="header-row header-row-bottom">
      <ul class="header-menu">
        <li class="header-droplink">
          <a href="#!">О компании</a>
          <ul class="header-menu-dropdown">
            <li><a href="general.html">История</a></li>
            <li><a href="licenses.html">Лицензии и сертификаты</a></li>
            <li><a href="general.html">Вакансии</a></li>
          </ul>
        </li>
        <li class="header-droplink">
          <a href="#!">Продукция</a>
          <ul class="header-menu-dropdown">
            <li><a href="">ПК</a></li>
            <li><a href="catalog.root.html">Моноблоки</a></li>
            <li><a href="catalog.root.html">Мониторы</a></li>
            <li><a href="catalog.barebones.html">Баребоны</a></li>
            <li><a href="catalog.root.html">Серверы</a></li>
            <li><a href="catalog.root.html">Комплектующие</a></li>
          </ul>
        </li>
        <li class="header-droplink">
          <a href="#!">Партнёрам</a>
          <ul class="header-menu-dropdown">
            <li><a href="general.html">О сотрудничестве</a></li>
          </ul>
        </li>
        <li class="header-droplink">
          <a href="#!">Поддержка</a>
          <ul class="header-menu-dropdown">
            <li><a href="">Гарантия</a></li>
            <li><a href="services.html">Сервисные центры</a></li>
            <li><a href="">Техническая поддержка</a></li>
          </ul>
        </li>
      </ul>
      <a href="contacts.html" class="btn btn-border-thick header-contacts">Контакты</a>
    </div>

  </div>

</header><!--/.header end-->