<aside id="sidebar" class="sidebar">

  <div id="nav-icon-close" class="nav-icon active"><span></span></div>

  <nav class="nav-drill">
    <ul class="nav-items nav-level-1">
      <li class="nav-item nav-expand">
        <a class="nav-link nav-expand-link" href="#">
          О компании
        </a>
        <ul class="nav-items nav-expand-content">
          <li class="nav-item">
            <a class="nav-link" href="general.html">
              История
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="licenses.html">
              Лицензии и сертификаты
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="general.html">
              Вакансии
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="general.html">
          Партнёрам
        </a>
      </li>
      <li class="nav-item nav-expand">
        <a class="nav-link nav-expand-link" href="#">
          Продукция
        </a>
        <ul class="nav-items nav-expand-content">
          <li class="nav-item nav-expand">
            <a class="nav-link nav-expand-link" href="#">
              ПК
            </a>
            <ul class="nav-items nav-expand-content">
              <li class="nav-item">
                <a class="nav-link" href="catalog.barebones.html">
                  АРМ
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="catalog.barebones.html">
                  ПЭВМ
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-expand">
            <a class="nav-link nav-expand-link" href="#">
              Моноблоки
            </a>
            <ul class="nav-items nav-expand-content">
              <li class="nav-item">
                <a class="nav-link" href="catalog.root.html">
                  PERSONAL
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="catalog.root..html">
                  OFFICE
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="catalog.root.html">
                  OPTIMAL
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="catalog.root..html">
                  EXTREME
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="production.monitors.html">
              Мониторы
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="production.barebones.html">
              Баребоны
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="production.servers.html">
              Серверы
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="production.components.html">
              Комплектующие
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-expand">
        <a class="nav-link nav-expand-link" href="#">
          Поддержка
        </a>
        <ul class="nav-items nav-expand-content">
          <li class="nav-item">
            <a class="nav-link" href="general.html">
              Гарантия
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="licenses.html">
              Сервисные центры
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="general.html">
              Техническая поддержка
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacts.html">
          Контакты
        </a>
      </li>
    </ul>
  </nav>

</aside>