/*------------------------------------*\
  Variables
\*------------------------------------*/

$color-accent: #27a4ff; // Accent Color
$color-text: #000; // Text Color
$color-grey: #424242;
$color-red: #da2128;
$color-blue: #27a4ff;
$color-lightgrey: #ccc;
$fontsize: 16px; // Body Font Size
$lineheight: 1.6; // Document Line Height
$userfont: 'Roboto', Arial, Helvetica, sans-serif; // User Font Family

/*------------------------------------*\
  Import Section
\*------------------------------------*/


/*------------------------------------*\
  General Document Styles
\*------------------------------------*/

::placeholder {
	color: #666;
}
::selection {
	background-color: $color-accent;
	color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input, textarea {
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}

html {
	height: 100%;
}

body {
	height: 100%;
  margin: 0;
  padding: 0;
	font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $color-text;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	background-color: #fff;
}

img {
	display: block;
  width: 100%;
  height: 100%;
}

a {
	color: $color-accent;
}