/*------------------------------------*\
  Layout and structure blocks
\*------------------------------------*/
.container {
  position: relative;
  width: 100%;
  padding: 0 20px;
  @media (min-width: 414px) {
    padding: 0 30px;
  }
  @media (min-width: 768px) {
    width: 688px;
    margin: 0 auto;
    padding: 0;
  }
  @media (min-width: 960px) {
    width: 880px;
    margin: 0 auto;
  }
  @media (min-width: 1200px) {
    width: 1040px;
  }
  @media (min-width: 1580px) {
    width: 1480px;
  }
}

/*------------------------------------*\
  Sticky Footer
  HTML Structure
  .page
    .page-body
    .page-footer
\*------------------------------------*/
.page {
  position: relative;
  height: 100%;
  padding-top: 120px;
  &.fade {
    &:before {
      content: '';
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 6;
      margin: auto;
      width: 100%;
      height: 100%;
      background: rgba(#000, 0.5);
      transition: all ease-in-out .3s;
    }
  }
  &-body {
    flex: 1 0 auto;
    background-color: #fff;
  }
  &-footer {
    position: relative;
    flex-shrink: 0;
  }
  &-no-top-gap {
    padding-top: 0;
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    &-inner {
      padding-top: 120px;
    }
  }
  @include laptop {
    &-inner {
      padding-top: 160px;
    }
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  color: $color-text;
}

h1 {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
h2 {
  font-size: 18px;
  line-height: 22px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 26px;
    line-height: 32px;
  }
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 960px) {
  h1 {
    font-size: 30px;
    line-height: 37px;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 24px;
    line-height: 29px;
  }
}

// webp fallback img
// .webp .header-logo {
//   background-image: url(../img/logo-mob.webp);
// }
// .no-webp .header-logo {
//   background-image: url(../img/logo-mob.svg);
// }