// clearing of ul, ol
@mixin clearlist(){
  margin: 0;
  padding: 0;
  list-style-type: none;
}

//clearfix for float
@mixin clearfix(){
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin tablet-big {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin desk {
  @media (min-width: 1580px) {
    @content;
  }
}
