/*------------------------------------*\
  Catalog Template
\*------------------------------------*/
.catalog {
  &-intro-text {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
  }
  .menu {
    display: none;
  }
  &-title-desk {
    display: none;
  }
  &-gallery {
    margin-bottom: 20px;
  }
  &-badge {
    display: flex;
    &-item {
      margin-right: 10px;
      height: 40px;
      img {
        object-fit: contain;
      }
    }
  }
  @media (min-width: 768px) {
    &-nav {
      display: none;
    }
    &-gallery {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
  @media (min-width: 960px) {
    margin-bottom: 75px;
    .menu {
      display: block;
    }
    &-title-mob {
      display: none;
    }
    &-title-desk {
      display: block;
      h1, h2, h3, h4, h5 {
        margin-top: 0;
      }
    }
    &-intro-text {
      margin-bottom: 50px;
      font-size: 14px;
      line-height: 19px;
    }
  }
  @media (min-width: 1200px) {
    &-intro-text {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.product {
  &-card {
    margin-bottom: 100px;
    &-img {
      position: relative;
      height: 200px;
      margin-bottom: 25px;
      background-color: #fff;
      img {
        object-fit: contain;
      }
      &-label-mtp {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 80px;
        height: 80px;
        background: transparent url(../img/elements/label-mtp.png) 0 0 no-repeat;
        background-size: contain;
      }
    }
    &-body {
      padding: 23px 40px 40px;
      background: #f5f5f5;
    }
    &-title {
      h1, h2, h3, h4, h5 {
        margin: 0 0 20px;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        color: $color-grey;
      }
    }
    &-mob {
      width: 260px;
      margin: 0 auto;
      p {
        margin: 0 0 50px;
      }
    }
    &-info {
      display: none;
    }
    &-btn {
      display: flex;
      justify-content: center;
    }
  }
  @include tablet {
    margin-top: 80px;
    &-grid {
      width: 600px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 60px;
    }
    &-card {
      &-img {
        height: 210px;
      }
      &-mob {
        display: none;
      }
      &-info {
        display: block;
        width: 267px;
        margin: 0 auto 35px;
      }
    }
  }
  @include tablet-big {
    &-grid {
      width: 910px;
      column-gap: 100px;
    }
    &-card {
      &-img {
        height: 320px;
        &-label-mtp {
          width: 106px;
          height: 106px;
        }
      }
      &-title {
        h1, h2, h3, h4, h5 {
          margin: 0 0 20px;
          font-size: 26px;
          line-height: 28px;
        }
      }
      &-info {
        width: 100%;
      }
    }
  }
  @include laptop {
    &-card {
      flex: 0 0 410px;
      &-title {
        h1, h2, h3, h4, h5 {
          font-size: 26px;
          line-height: 28px;
        }
      }
      &-info {
        padding: 0;
      }
    }
  }
  @include desk {
    &-grid {
      width: 1410px;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 90px;
    }
  }
}

/*------------------------------------*\
  Thumbnail Gallery
\*------------------------------------*/
.gallery {
  &-main {
    height: 280px;
    margin-bottom: 20px;
    img {
      object-fit: contain;
    }
  }
  &-ctrl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    &-img {
      display: table-cell;
      vertical-align: middle;
      flex: 0 0 58px;
      width: 58px;
      height: 58px;
      margin-left: 30px;
      margin-bottom: 20px;
      border: 2px solid transparent;
      transition: all ease .3s;
      &.active {
        border: 2px solid $color-red;
      }
      img {
        object-fit: contain;
        max-width: 58px;
        max-height: 58px;
      }
    }
  }
  @include tablet {
    &-main {
      width: 434px;
      height: 440px;
      margin: 0 auto 40px;
    }
    &-ctrl {
      &-img {
        margin-bottom: 20px;
      }
    }
  }
  @include tablet-big {
    &-main {
      width: 520px;
      height: 420px;
    }
  }
}

.detail {
  margin-top: 30px;
  &-info {
    h1, h2, h3, h4, h5 {
      font-weight: 500;
      font-size: 28px;
      line-height: 31px;
      text-transform: uppercase;
    }
    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 25px;
    }
  }
  @include tablet {
    h1, h2, h3, h4, h5 {
      font-size: 26px;
      line-height: 32px;
    }
    p {
      font-size: 20px;
      line-height: 34px;
    }
  }
  @include tablet-big {
    display: flex;
    &-col {
      &:first-child {
        margin-right: 40px;
      }
    }
  }
  @include laptop {
    width: 1040px;
    margin: 60px auto 0;
  }
}

.table {
  display: table;
  &-row {
    display: table-row;
    &:nth-child(even) {
      background-color: #f0f0f0;
    }
    div {
      display: table-cell;
      vertical-align: middle;
      padding: 5px 0;
      font-size: 14px;
      line-height: 16px;
      &:first-child {
        min-width: 100px;
        font-weight: 500;
      }
      &:last-child {
        font-weight: 300;
      }
    }
  }
  @include tablet {
    &-row {
      div {
        vertical-align: top;
      }
    }
  }
  @include tablet-big {
    &-row {
      div {
        font-size: 16px;
        line-height: 22px;
        &:first-child {
          min-width: 120px;
        }
      }
    }
  }
  @include desk {
    &-row {
      div {
        padding: 10px 5px;
      }
    }
  }
}


.table-spec {
  display: table;
  width: 100%;
  &-row {
    display: table-row;
    &:nth-child(odd) {
      div {
        padding: 24px 0;
      }
    }
    &:nth-child(even) {
      background-color: #f0f0f0;
    }
    div {
      display: table-cell;
      vertical-align: middle;
      padding: 5px 0;
      font-size: 14px;
      line-height: 16px;
      &:first-child {
        min-width: 100px;
        padding-right: 40px;
        font-weight: 500;
        text-align: right;
      }
      &:last-child {
        font-weight: 300;
      }
    }
  }
  @include tablet {
    &-row {
      div {
        vertical-align: top;
      }
    }
  }
  @include tablet-big {
    &-row {
      div {
        font-size: 16px;
        line-height: 22px;
        &:first-child {
          min-width: 120px;
        }
      }
    }
  }
  @include desk {
    &-row {
      div {
        padding: 10px 5px;
      }
    }
  }
}

.description {
  margin-top: 60px;
  h1, h2, h3, h4, h5 {
    font-weight: 500;
    font-size: 28px;
    line-height: 31px;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
  }
  ul {
    padding-left: 25px;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
  }
  &-body {
    margin-top: 60px;
  }
  &-footer {
    text-align: center;
    p {
      margin-bottom: 20px;
      font-weight: 300;
      font-size: 16px;
      line-height: 25px;
    }
    small {
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
    }
  }
  .table-spec {
    margin-bottom: 65px;
  }
  @include tablet {
    h1, h2, h3, h4, h5 {
      font-size: 26px;
      line-height: 32px;
    }
    p {
      font-size: 14px;
      line-height: 19px;
    }
    ul {
      font-size: 14px;
      line-height: 19px;
    }
    &-footer {
      p {
        font-size: 20px;
        line-height: 34px;
      }
      small {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  @include laptop {
    width: 1040px;
    margin: 0 auto;
    p {
      font-size: 16px;
      line-height: 22px;
    }
    ul {
      font-size: 16px;
      line-height: 22px;
    }
    .file-list-doc {
      a {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
