/*------------------------------------*\
  Contacts Page
\*------------------------------------*/
.contacts {
  [class*="copyrights-pane"] {
    display: none !important;
  }
  &-map {
    margin-bottom: 30px;
    .map {
      width: 100%;
      height: 400px;
      background: transparent url(../img/contacts/map-overlay-mob.png) 0 0 no-repeat;
      background-size: cover;
    }
  }
  &-img {
    display: none;
  }
  @include tablet {
    &-map {
      margin-bottom: 50px;
      .map {
        background: transparent url(../img/contacts/map-overlay-tablet.png) 0 0 no-repeat;
        background-size: cover;
      }
    }
  }
  @include laptop {
    &-map {
      .map {
        background: transparent url(../img/contacts/map-overlay-desk.png) 0 0 no-repeat;
        background-size: cover;
      }
    }
    &-img {
      display: block;
      max-height: 244px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  @include desk {
    &-map {
      width: 1360px;
      margin: 0 auto 50px;
    }
  }
}

.contacts {
  [class*="copyrights-pane"] {
    display: none !important;
  }
  &-map-wrap {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
  }
  .map-marker {
    width: 100%;
    height: 400px;
  }
  @include tablet {
    &-map-wrap {
      margin-bottom: 50px;
    }
  }
  @include laptop {
  }
  @include desk {
    &-map-wrap {
      width: 1360px;
      margin: 0 auto 50px;
    }
  }
}



