.red {
  color: $color-red;
}

.center-align {
  display: flex;
  justify-content: center;
  text-align: center;
}

.center-text {
  text-align: center;
}

.btn {
  display: inline-block;
  min-width: 145px;
  padding: 6px 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: $color-grey;
  border: 2px solid $color-accent;
  border-radius: 12px;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  &-border-thick {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 3px solid $color-accent;
    border-radius: 12px;
  }
  @include tablet {
    padding: 6px 25px;
    font-size: 20px;
    &-border-thick {
      font-size: 20px;
    }
  }
  @include laptop {
    &-border-thick {
      padding: 3.5px 22px;
      font-size: 20px;
      line-height: 23px;
    }
  }
}

.title {
  h1, h2, h3, h4, h5 {
    margin: 30px 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    color: #000;
  }
  &-center {
    text-align: center;
  }
  &-top-gap {
    h1, h2, h3, h4, h5 {
      margin-top: 60px;
    }
  }
  &-semibold {
    h1, h2, h3, h4, h5 {
      font-weight: 500;
    }
  }
  &-medium {
    h1, h2, h3, h4, h5 {
      margin-bottom: 19px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }
  @media (min-width: 768px) {
    h1, h2, h3, h4, h5 {
      font-size: 26px;
      line-height: 32px;
    }
    &-medium {
      h1, h2, h3, h4, h5 {
        margin-bottom: 19px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  @media (min-width: 1200px) {
    h1, h2, h3, h4, h5 {
      font-size: 30px;
      line-height: 37px;
    }
    &-medium {
      h1, h2, h3, h4, h5 {
        margin-bottom: 55px;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
      }
    }
  }
}