.footer {
  background-color: #000;
  border-top: 1px solid #fff;
  color: #fff;
  &-container {
    padding: 40px 20px;
  }
  &-logo {
    display: none;
  }
  &-content {
    margin-bottom: 60px;
    &-row {
      margin-bottom: 20px;
    }
  }
  &-address {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
  }
  &-menu {
    @include clearlist();
    li {
      a {
        display: block;
        font-size: 18px;
        line-height: 26px;
        color: #fff;
        text-decoration: none;
      }
    }
  }
  &-copyright {
    font-size: 16px;
    line-height: 19px;
  }
  &-link {
    display: block;
    font-size: 12px;
    line-height: 13px;
    color: #fff;
    text-decoration: none;
  }
  &-phone {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
  }
  &-btn {
    padding: 11px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
  }
  @media (min-width: 400px) {
    &-container {
      padding: 40px 40px 70px;
    }
  }
  @include tablet-big {
    &-container {
      display: flex;
      justify-content: space-between;
      padding: 40px 0 80px;
    }
    &-content {
      margin-bottom: 0;
    }
  }
  @include laptop {
    &-logo {
      display: block;
      width: 146px;
      height: 40px;
      flex: 0 0 146px;
      background: url(../img/elements/logo-white.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
    }
    &-content {
      flex: 0 0 480px;
    }
  }
  @include desk {
    &-container {
      justify-content: start;
    }
    &-logo {
      margin-right: 100px;
    }
    &-contacts {
      margin-left: auto;
    }
  }
}

// .footer-desk {
//   display: none;
//   @media (min-width: 768px) {
//     display: block;
//     background-color: #000;
//     color: $color-lightgrey;
//     &-container {
//       display: flex;
//       width: 662px;
//       margin: 0 auto;
//       padding: 30px 0 75px;
//     }
//     &-row {
//       &:not(:last-child) {
//         margin-right: 60px;
//       }
//       &-menu-desk {
//         display: none;
//       }
//     }
//     &-logo {
//       display: block;
//       width: 108px;
//       height: 30px;
//       flex: 0 0 108px;
//       background: url(../img/elements/logo.svg);
//       background-repeat: no-repeat;
//       background-position: 0 0;
//       background-size: contain;
//     }
//     &-link {
//       display: block;
//       font-size: 12px;
//       line-height: 13px;
//       color: $color-lightgrey;
//       text-decoration: none;
//     }
//     &-social {
//       margin-bottom: 12px;
//     }
//   }
//   @media (min-width: 960px) {
//     &-container {
//       width: 804px;
//       justify-content: space-between;
//     }
//     &-row {
//       flex: 0 0 14.6%;
//       &:not(:last-child) {
//         margin-right: 0;
//       }
//       &-logo {
//         display: none;
//       }
//       &-menu-tablet {
//         display: none;
//       }
//       &-menu-desk {
//         display: block;
//       }
//     }
//   }
//   @media (min-width: 1200px) {
//     &-container {
//       width: 1100px;
//       justify-content: space-between;
//     }
//     &-row {
//       &-menu-desk {
//         display: block;
//       }
//     }
//   }
//   @media (min-width: 1580px) {
//     &-container {
//       width: 1315px;
//       padding: 45px 0 75px;
//       justify-content: space-between;
//     }
//     &-row {
//       flex: 0 0 10.6%;
//       &:not(:last-child) {
//         margin-right: 0;
//       }
//       &-logo {
//         display: block;
//       }
//     }
//     &-logo {
//       width: 145px;
//       height: 40px;
//       flex: 0 0 145px;
//     }
//   }
// }

.cookie-warning {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  text-align: center;
  text-transform: lowercase;
  font-size: 10px;
  line-height: 10px;
  color: #424242;
  background: #141414;
  a {
    color: #a6a3a3;
    text-decoration: none;
  }
  @media (min-width: 768px) {
    padding: 13px 15px;
  }
}