/*------------------------------------*\
  Contacts Page
\*------------------------------------*/
$color-error: #E21A1A;
.form{
	position: relative;
	width: 100%;
  margin-bottom: 50px;
  &-container {
    width: 100%;
    &-col {
			position: relative;
    }
  }
	&-row{
		position: relative;
		margin-bottom: 20px;
		label.error {
			position: absolute;
    	top: -15px;
    	font-size: .8rem;
    	color: $color-error;
      input[type="text"],
      input[type="email"] {
        color: $color-error;
      }
		}
    &.error {
      span {
        position: absolute;
        top: 39px;
        left: 12px;
        z-index: 1;
        color: $color-error;
        font-weight: 500;
        font-size: 11px;
      }
      input[type="text"],
      input[type="email"],
      textarea {
        color: $color-accent;
        border-color: $color-error;
      }
    }
	}
	&-label {
		margin-bottom: 11px;
    font-weight: 300;
    font-size: 18px;
		line-height: 22px;
		color: $color-text;
    text-align: center;
	}
	input[type="text"],
	input[type="email"],
	textarea {
		display: block;
		width: 100%;
		height: 40px;
		padding: 10px;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
		color: $color-text;
    border: none;
    border: 1px solid $color-accent;
		outline: none;
		transition: all ease .3s;
		&::placeholder {
		  color: $color-accent;
		  opacity: 1;
		}
		&:-ms-input-placeholder {
		  color: $color-accent;
		}
		&::-ms-input-placeholder {
		  color: $color-accent;
		}
		&:focus {
      color: $color-grey;
      border: 1px solid #424242;
		}
		&.error {
			border-color: $color-error;
		}
	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus {
	  -webkit-text-fill-color: $color-grey;
	}
	textarea {
		height: 228px;
		resize: none;
	}
  &-submit {
    display: flex;
    justify-content: center;
  }
	input[type="submit"] {
		display: block;
		&:hover,
		&:focus {
		}
	}
  &-file {
    position: relative;
    &-btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 160px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: #eee;
		  border: 1px solid #000;
      color: $color-text;
    }
  }
  &-policy {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    a {
      color: $color-accent;
      text-decoration: none;
    }
  }
  &-support {
    margin-top: 50px;
  }
	@include tablet {
    width: 480px;
    margin: 0 auto 100px;
	}
}

.custom-drop {
  position: relative;
  margin: 45px 0 35px;
  &-title {
    display: block;
    padding: 0 5px;
    position: absolute;
    top: -7px;
    left: 19px;
    z-index: 1;
    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    background-color: #fff;
    color: #757575;
  }
  .custom-select-opener {
    width: 320px;
    border: 2px solid $color-accent;
    border-radius: 12px;
    color: $color-grey;
    font-size: 22px;
    line-height: 26px;
  }
  .custom-select-panel {
    width: 320px;
  }
  .custom-select-container.is-open .custom-select-panel {
    top: 79%;
    width: 320px;
    max-height: 320px;
    border: 2px solid $color-accent;
    border-radius: 0 0 12px 12px;
    border-top: 0;
    overflow: hidden;
  }
  .custom-select-option {
    padding: 6px 21px;
    cursor: pointer;
    &:first-child {
      padding-top: 12px;
    }
  }
}

.support {
  margin-bottom: 60px;
  &-item {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: $color-grey;
    p {
      margin: 0;
      font-weight: 300;
      font-size: 16px;
      line-height: 25px;
      color: $color-grey;
    }
  }
  &-link {
    text-decoration: none;
    color: $color-grey;
  }
  @media (min-width: 768px) {
    &-item {
      font-size: 20px;
      line-height: 34px;
      p {
        font-size: 20px;
        line-height: 34px;
      }
    }
  }
}

.custom-file {
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .inputfile + label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .inputfile:focus + label,
  .inputfile.has-focus + label {
    outline: none;
  }
  .inputfile + label span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
  }
  .inputfile + label strong {
    display: block;
		width: 152px;
		height: 40px;
    line-height: 40px;
		background-color: transparent;
		border: 1px solid #000;
		font-size: 17px;
		font-weight: 300;
    text-transform: uppercase;
		text-align: center;
		color: $color-text;
		outline: none;
		cursor: pointer;
  }
  @media (min-width: 768px) {
    .inputfile + label {
      flex-direction: row;
      justify-content: flex-start;
    }
    .inputfile + label span {
      margin-top: 0;
      margin-left: 10px;
    }
  }
}