/*------------------------------------*\
  Header
\*------------------------------------*/
.header {
	position: fixed;
  top: 0;
	z-index: 5;
	width: 100%;
  background-color: #fff;
  transition: all ease .3s;
  &-fixed {
    position: fixed;
  }
	&-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 15px;
    transition: all ease .5s;
	}
  &-row {
    width: 100%;
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
	&-logo {
    display: block;
    width: 146px;
    height: 40px;
		flex: 0 0 146px;
    background: url(../img/elements/logo.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: contain;
	}
  &-compact {
    .header-container {
      padding: 10px 40px;
    }
  }
  &-phone {
    display: none;
  }
  &-contacts {
    display: none;
  }
  @media (min-width: 360px) {
    &-container {
      padding: 40px;
    }
  }
	@include tablet {
    &-fixed {
      position: fixed;
    }
		&-container {
      width: 100%;
      align-items: center;
		}
    &-phone {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 44px;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      color: $color-grey;
      text-decoration: none;
      &::before {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        margin-right: 14px;
        background: transparent url(../img/elements/icon-phone.svg) 0 0 no-repeat;
        background-size: contain;
      }
    }
	}
  @include laptop {
    position: relative;
    &-fixed {
      position: fixed;
    }
		&-icon {
			display: none;
		}
    &-row {
      &-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 14px;
      }
    }
    &-contacts {
      display: block;
      margin-left: 42px;
    }
    &-container {
      align-items: flex-end;
      width: 1120px;
      margin: 0 auto;
      padding: 40px 0 30px;
    }
    &-compact {
      .header-container {
        align-items: center;
        min-height: 0;
        padding: 10px 0 10px;
      }
      .header-nav {
        margin-top: 0;
      }
      .header-menu li .header-menu-dropdown {
        //top: 60px;
      }
      .header-menu li.header-droplink:hover > a:before {
        //top: 31px;
      }
    }
  }
  @include desk {
    &-container {
      width: 1488px;
      justify-content: space-between;
    }
  }
  @media (min-width: 1680px) {
    &-container {
      width: 1600px;
    }
  }
}

.auth {
  display: flex;
  margin-left: auto;
  &-lang {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    a {
      display: block;
      color: #c4c4c4;
      font-weight: 300;
      font-size: 16px;
      line-height: 27px;
      text-transform: uppercase;
      text-decoration: none;
      &:first-child:after {
        content: '';
        position: relative;
        top: 2px;
        display: inline-block;
        width: 1px;
        height: 14px;
        margin: 0 6px;
        background-color: #c4c4c4;
      }
    }
  }
  &-phone {
    display: none;
  }
  &-search {
    display: none;
  }
  @media (min-width: 768px) {
    &-phone {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 44px;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      color: $color-grey;
      text-decoration: none;
      &::before {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        margin-right: 14px;
        background: transparent url(../img/elements/icon-phone.svg) 0 0 no-repeat;
        background-size: contain;
      }
    }
    &-search {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 21px;
      &-icon {
        position: relative;
        display: block;
        width: 18px;
        height: 18px;
        background: transparent url(../img/elements/search.svg) 0 0 no-repeat;
        background-size: cover;
        cursor: pointer;
      }
      &-field {
        position: absolute;
        top: 25px;
        left: -10px;
        right: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        padding: 10px;
        background-color: #fff;
        transition: all ease .25s;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        &.active {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
        }
        input {
          width: 100%;
          height: 40px;
          padding-left: 10px;
          font-weight: 300;
          font-size: 16px;
          background-color: #fff;
          border: 1px solid $color-accent;
          color: $color-accent;
          &::placeholder {
            color: $color-accent;
            opacity: 1;
          }
          &:-ms-input-placeholder {
            color: $color-accent;
          }
          &::-ms-input-placeholder {
            color: $color-accent;
          }
          &:focus {
            color: $color-grey;
            border: 1px solid #424242;
          }
        }
      }
    }
  }
  @media (min-width: 1200px) {
    display: flex;
    &-search {
      &-field {
        top: 33px;
      }
    }
  }
  @media( min-width: 1580px) {
    margin-left: 0;
  }
}

.header-menu {
  display: none;
  @media (min-width: 1200px) {
    @include clearlist();
    display: flex;
    justify-content: center;
    li {
      display: inline-block;
      line-height: 0;
      &:not(:last-child) {
        margin-right: 40px;
      }
      &.active {
        a {
          color: $color-accent;
        }
      }
      a {
        position: relative;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: $color-grey;
        text-decoration: none;
        transition: all ease-in-out .25s;
        &:hover {
          color: $color-accent;
        }
      }
      &.header-droplink {
        position: relative;
        >a {
          display: flex;
          align-items: center;
          &:after {
            content: '';
            display: block;
            width: 20px;
            height: 11px;
            margin-left: 9px;
            background: transparent url(../img/elements/icon-chevron.svg) 0 0 no-repeat;
            background-size: cover;
            transition: all ease-in-out .25s;
          }
        }
        &:hover {
          >a {
            &:after {
              opacity: 1;
              visibility: visible;
              transition: all ease-in-out .25s;
            }
          }
          .header-menu-dropdown {
            opacity: 1;
            visibility: visible;
            transition: all ease-in-out .25s;
          }
        }
      }
      .header-menu-dropdown {
        @include clearlist();
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 180px;
        padding: 12px;
        margin: 0 auto;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: all ease-in-out .25s;
        li {
          display: inline-block;
          &:not(:last-child) {
            margin-bottom: 7px;
          }
          a {
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            color: $color-grey;
            text-decoration: none;
            transition: all ease-in-out .25s;
            &:hover {
              color: $color-accent;
            }
          }
        }
      }
    }
  }
}


/*------------------------------------*\
  Header Logo Images + PNG Fallback
\*------------------------------------*/
// .webp .header-logo {
//   background-image: url(../img/logo-mob.webp);
// }
// .no-webp .header-logo {
//   background-image: url(../img/logo-mob.svg);
// }
// @media (min-width: 768px) {
//   .webp .header-logo {
//     background-image: url(../img/logo-desk.webp);
//   }
//   .no-webp .header-logo {
//     background-image: url(../img/logo-desk.svg);
//   }
// }

/*------------------------------------*\
  Nav Burger Icon
\*------------------------------------*/
$iconWidth: 36px;
$iconLineHeight: 4px;
$iconLineGap: 6px;
$colorDefault: $color-blue;
$colorActive: #fff;
.nav-icon {
  width: $iconWidth;
  height: $iconLineHeight * 3 + $iconLineGap * 2;
  transform: rotate(0deg);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  &:hover,
  &:focus {
    outline: none;
  }
  span{
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: $iconLineHeight;
    background-color: $colorDefault;
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
  }
  &:before,
  &:after{
  	content: '';
  	position: absolute;
  	left: 0;
  	display: block;
  	width: 100%;
  	background-color: $colorDefault;
  	transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
  }
  &:before{
  	top: $iconLineHeight + $iconLineGap;
  	height: $iconLineHeight;
  }
  &:after{
  	top:  $iconLineHeight * 2 + $iconLineGap * 2;
  	height: $iconLineHeight;
  }
  &.active {
    width: 25px;
    height: 25px;
    span {
      height: 3px;
    	background-color: $colorActive;
      transform: translateY($iconLineHeight + $iconLineGap) rotate(45deg);
    }
    &:before{
    	width: 0;
    	transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
    }
    &:after{
      height: 3px;
    	background-color: $colorActive;
    	transform: translateY(-$iconLineHeight + -$iconLineGap) rotate(-45deg);
    }
  }
}
@media (min-width: 768px) {
  $iconWidth: 36px;
  $iconLineHeight: 4px;
  $iconLineGap: 6px;
  .nav-icon {
    width: $iconWidth;
    height: $iconLineHeight * 3 + $iconLineGap * 2;
    transform: rotate(0deg);
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    &:hover,
    &:focus {
      outline: none;
    }
    span{
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: $iconLineHeight;
      background-color: $colorDefault;
      transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
    }
    &:before,
    &:after{
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      background-color: $colorDefault;
      transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
    }
    &:before{
      top: $iconLineHeight + $iconLineGap;
      height: $iconLineHeight;
    }
    &:after{
      top:  $iconLineHeight * 2 + $iconLineGap * 2;
      height: $iconLineHeight;
    }
    &.active {
      span{
        background-color: $colorActive;
        transform: translateY($iconLineHeight + $iconLineGap) rotate(45deg);
      }
      &:before{
        width: 0;
        transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
      }
      &:after{
        background-color: $colorActive;
        transform: translateY(-$iconLineHeight + -$iconLineGap) rotate(-45deg);
      }
    }
  }
}