/*------------------------------------*\
  Mobile Static Image Replacer for Slider
\*------------------------------------*/

.widget-info {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 0;
  &-container {
    width: 478px;
  }
  &-top {
    display: flex;
    align-items: center;
    padding-top: 29px;
    background-color: $color-red;
    &::before {
      content: '';
      display: block;
      flex: 0 0 115px;
      width: 115px;
      height: 84px;
      margin: 0 12px 0 29px;
      background: transparent url(../img/elements/icon-white-cert.svg) 0 0 no-repeat;
      background-size: cover;
    }
    h1, h2, h3, h4, h5 {
      margin: 0;
      font-weight: 500;
      font-size: 19px;
      line-height: 21px;
      color: #fff;
      text-transform: uppercase;
    }
  }
  &-bottom {
    padding: 18px 28px;
    background-color: #fff;
    h1, h2, h3, h4, h5 {
      margin: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
    }
  }
  @include laptop {
    top: 80px;
  }
}


/*------------------------------------*\
  Benefits Block
\*------------------------------------*/
.benefit {
  margin-top: 50px;
  margin-bottom: 60px;
  &-item {
    &:not(:last-child) {
      margin-bottom: 44px;
    }
  }
  &-img {
    width: 80px;
    margin-bottom: 16px;
  }
  h1, h2, h3, h4, h5,
  &-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 29px;
    line-height: 32px;
    text-transform: uppercase;
    color: #000;
  }
  span,
  &-subtitle {
    display: block;
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
  }
  p,
  &-text {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
  }
  @include tablet {
    margin-bottom: 100px;
    &-container {
      width: 680px;
    }
    &-item {
      display: flex;
      align-items: flex-start;
      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }
    &-img {
      flex: 0 0 130px;
      width: 130px;
      margin-right: 40px;
    }
    h1, h2, h3, h4, h5,
    &-title {
      margin-bottom: 20px;
      font-size: 34px;
      line-height: 37px;
    }
    span,
    &-subtitle {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 28px;
    }
    p,
    &-text {
      font-size: 16px;
      line-height: 19px;
    }
    &-item-invert {
      .benefit-content {
        order: 1;
      }
      .benefit-img {
        order: 2;
        margin-right: 0;
        margin-left: 40px;
      }
      h1, h2, h3, h4, h5,
      span,
      p,
      .benefit-title,
      .benefit-subtitle,
      .benefit-text {
        text-align: right;
      }
    }
  }
  @include tablet-big {
    margin-top: 75px;
    margin-bottom: 150px;
    &-container {
      width: 720px;
    }
    &-item {
      align-items: flex-start;
      display: flex;
      &:not(:last-child) {
        margin-bottom: 100px;
      }
    }
    &-img {
      flex: 0 0 200px;
      width: 200px;
    }
    h1, h2, h3, h4, h5,
    &-title {
      font-size: 40px;
      line-height: 44px;
    }
    span,
    &-subtitle {
      font-size: 30px;
      line-height: 35px;
    }
    p,
    &-text {
      font-size: 22px;
      line-height: 26px;
    }
  }
  @include laptop {
    margin-top: 120px;
    margin-bottom: 175px;
    &-container {
      width: 1030px;
    }
    p,
    &-text {
      align-items: flex-start;
      display: flex;
      &:not(:last-child) {
        margin-bottom: 120px;
      }
    }
  }
}

/*------------------------------------*\
  Team
\*------------------------------------*/
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 100vw;
  height: 100vh;
  .swiper-slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}

