/*------------------------------------*\
  Sidebar
\*------------------------------------*/
.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 6;
	width: 320px;
	height: 100%;
	padding: 80px 0 0;
	background-color: rgba(#000, .8);
	overflow-x: hidden;
	overflow-y: scroll;
	transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
	transition: all ease-in-out .3s;
  &-fixed {
  	position: fixed;
  	top: 0;
  	z-index: 3;
  }
  &-absolute {
  	position: absolute;
  	top: 0;
  	z-index: 3;
  }
	&.active {
    visibility: visible;
    opacity: 1;
		transform: translateX(0);
	}
  .nav-icon {
    position: absolute;
    top: 30px;
    right: 31px;
  }
	&-body {
		margin-bottom: 70px;
	}
  &-footer {
    .sidebar-link {
      margin-bottom: 22px;
      &:first-child {
        margin-bottom: 60px;
      }
    }
  }
  &-link {
    display: block;
    max-width: 260px;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: $color-text;
  }
	@media (min-width: 360px) {
    padding: 80px 0 0;
  }
  @media (min-width: 768px) {
    width: 320px;
  }
	@media (min-width: 1280px) {
		width: 360px;
		top: 0;
    right: -360px;
    left: initial;
    padding: 70px 0 70px;
		transform: translateX(0);
		overflow-y: visible;
		&-header {
			margin-bottom: 69px;
		}
		&-body {
			margin-bottom: 92px;
		}
	}
}

.sidebar-menu {
  position: relative;
  @include clearlist();
  li {
    .active {
      a {
        color: $color-accent;
      }
    }
    &:not(:last-child) {
      margin-bottom: 23px;
    }
    a {
			font-weight: 600;
			font-size: 26px;
      line-height: 32px;
      color: $color-text;
      text-transform: none;
      white-space: nowrap;
      text-decoration: none;
    }
  }
}

$black: #252525;
$nav-font-color: #000;
$grey: #eaeaea;

$primary-color: #fff;
$primary-color-dark: darken( $primary-color, 10% );
$primary-color-tint-1: lighten( $primary-color, 10% );
$primary-color-tint-2: lighten( $primary-color, 20% );
$primary-color-tint-3: lighten( $primary-color, 30% );
$primary-color-tint-4: lighten( $primary-color, 40% );
$primary-color-tint-5: lighten( $primary-color, 50% );

$link-color: $primary-color;

// ---------------------------------------
// important stuff starts here

$nav-width: 100%;
$nav-padding: 0.875em 1em;
$nav-border-color: #424242;
$nav-background-color: $nav-font-color;
$nav-icon-font: 'Material Icons';
$nav-icon-arrow-right: 'chevron_right';
$nav-icon-arrow-left: 'chevron_left';

$nav-level-border-color: $primary-color;
$nav-level-background-color: #000;

$nav-level3-background-color: $primary-color-tint-4;
$nav-level4-background-color: $primary-color-tint-3;
$nav-level5-background-color: $primary-color-tint-2;

.nav {
	&-drill {
		display: flex;
		width: $nav-width;
		background-color: $nav-background-color;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		transition: 0.45s;
	}

	&-items {
		flex: 0 0 100%;
    @include clearlist();
	}

	&-item {
		&:not(:last-child) {
			border-bottom: solid 1px $nav-border-color;
		}
	}

	&-link {
		display: flex;
		align-items: center;
		min-height: 60px;
		padding: 9px 65px 9px 37px;
		line-height: 20px;
		background-color: $nav-background-color;
		color: $link-color;
		text-transform: uppercase;
    text-decoration: none;
	}
	&-level-1 {
		>.nav-item > .nav-expand-content {
			position: fixed;
			top: 80px;
			z-index: 1;
			>.nav-item > .nav-expand-content {
				z-index: 2;
				background-color: rgba(#000, 0.9);
			}
		}
	}

	&-expand {
		&-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translateX(100%);
			transition: 0.3s;
			visibility: hidden;

			.nav-item {
				&:not(:last-child) {
					border-bottom: solid 1px $nav-border-color;
				}
			}

			.nav-link {
				background-color: $nav-level-background-color;
			}

			.nav-back-link {
				display: flex;
				justify-content: space-between;
				align-items: center;
				background-color: $color-accent !important;
				color: #fff;
				text-transform: uppercase;
				font-size: 16px;
				line-height: 33px;

				&::before {
          content: '';
          display: block;
          width: 10px;
          height: 18px;
          margin-right: 0.5em;
          background: transparent url(../img/elements/arrow-prev.svg) 0 0 no-repeat;
          background-size: cover;
				}
			}
		}

		&-link {
			display: flex;
			justify-content: space-between;

			&::after {
				content: '';
				position: relative;
				left: 20px;
				flex: 0 1 auto;
				display: block;
        width: 12px;
        height: 18px;
        background: transparent url(../img/elements/arrow-next.svg) 0 0 no-repeat;
        background-size: cover;
			}
		}

		&.active {
			> .nav-expand-content {
				transform: translateX(0);
				visibility: visible;
			}
		}

	}
}