/*------------------------------------*\
  Full Height Screen
\*------------------------------------*/
.intro-screen {
  @include tablet {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    &-promo {
      position: relative;
      height: 80%;
      flex-grow: 1;
    }
    &-nav {
      flex: 1 0 auto;
    }
  }
  @include desk {
    &-promo {
      height: 85%;
    }
  }
}

.promo {
  position: relative;
  &-content {
    height: 200px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .widget-info {
    display: none;
  }
  @media (min-width: 414px) {
    &-content {
      height: 230px;
    }
  }
  @include tablet {
    .widget-info {
      display: flex;
    }
    &-content {
      height: 100%;
      padding-top: 120px;
    }
  }
  @include tablet-big {
  }
  @include laptop {
    &-content {
      padding-top: 160px;
    }
  }
}

.promo-inner {
  position: relative;
  margin-bottom: 50px;
  &-content {
    padding: 0 20px;
    .title {
      text-align: center;
      h1, h2, h3, h4, h5 {
        margin-top: 0;
        margin-bottom: 25px;
      }
    }
    .breadcrumbs {
      justify-content: center;
    }
  }
  &-img {
    margin: 30px 0;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color-grey;
  }
  @media (min-width: 414px) {
  }
  @include tablet {
    flex: 1 0 auto;
    height: 85%;
    margin-bottom: 0;
    .widget-info {
      display: flex;
    }
    .breadcrumbs {
      margin-bottom: 30px;
    }
    &-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-top: 120px;
    }
    &-text {
      margin: 30px 0;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
    }
    &-img {
      min-height: 100px;
      margin: auto 0;
    }
  }
  @include tablet-big {
    height: 80%;
    &-text {
      width: 850px;
      margin: 30px auto;
      font-size: 20px;
      line-height: 23px;
    }
  }
  @include laptop {
    &-content {
      padding-top: 160px;
      //height: 679px;
    }
    &-text {
      width: 1040px;
      margin: 30px auto;
    }
  }
}

/*------------------------------------*\
  Categories Navigation
\*------------------------------------*/
.widget-nav {
  display: none;
  &-secondary {
    display: none;
  }
  @include tablet {
    display: block;
    background-color: #000;
    &-secondary {
      display: block;
    }
    ul {
      @include clearlist();
      width: 730px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      padding: 30px 0 20px;
      li {
        &:not(:last-child) {
          margin-right: 20px;
        }
        a {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          height: 100%;
          text-decoration: none;
          svg {
            fill: #fff;
            transition: all .5s ease;
          }
          span {
            display: block;
            margin-top: 8px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            transition: all .5s ease;
          }
        }
        &.active,
        &:hover {
          svg {
            fill: $color-accent;
          }
          span {
            color: $color-accent;
          }
        }
      }
    }
  }
  @include tablet-big {
    ul {
      width: 960px;
      li {
        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
    &-inner {
      ul {
        width: 820px;
      }
    }
  }
  @include laptop {
    ul {
      width: 1050px;
      li {
        &:not(:last-child) {
          margin-right: 50px;
        }
      }
    }
    &-inner {
      ul {
        width: 820px;
      }
    }
  }
  @include desk {
    ul {
      width: 1120px;
      li {
        &:not(:last-child) {
          margin-right: 60px;
        }
      }
    }
    &-inner {
      ul {
        width: 820px;
      }
    }
  }
}

/*------------------------------------*\
  Subheader > breadcrumbs, page title
\*------------------------------------*/
.subheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  .title {
    h1, h2, h3, h4, h5 {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}

/*------------------------------------*\
  Page Title
\*------------------------------------*/
.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  .breadcrumbs {
    display: none;
  }
  &-text {
    max-width: 1080px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  @media (min-width: 768px) {
    padding-top: 4px;
    .title {
      margin-bottom: 2px;
    }
    .breadcrumbs {
      display: block;
    }
  }
  @media (min-width: 1024px) {
    margin-top: 40px;
    margin-bottom: 35px;
    .breadcrumbs {
      margin-top: 5px;
    }
    &-text {
      font-size: 20px;
      line-height: 24px;
    }
  }
  @media (min-width: 1280px) {
    margin-top: 52px;
    .breadcrumbs {
      margin-top: 0;
    }
    &-text {
      margin-top: 40px;
    }
  }
}



/*------------------------------------*\
  Social links
\*------------------------------------*/
.social {
  display: flex;
  align-items: center;
  &-item{
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    &:not(:last-child){
      margin-right: 20px;
    }
    &-vk {
      width: 27px;
      height: 17px;
      background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' width='23.57' height='14' viewBox='0 0 23.57 14'%3E%3Cpath d='M23.22,1c.16-.55,0-.95-.78-.95H19.86a1.13,1.13,0,0,0-1.13.73A21.56,21.56,0,0,1,15.57,6c-.61.6-.88.79-1.21.79-.16,0-.4-.19-.4-.73V1c0-.66-.19-.95-.73-.95H9.17a.61.61,0,0,0-.65.59c0,.62.93.77,1,2.52V6.9c0,.84-.15,1-.48,1-.87,0-3-3.21-4.26-6.89C4.55.29,4.31,0,3.65,0H1.07C.33,0,.18.35.18.73c0,.68.88,4.07,4.07,8.55C6.39,12.34,9.39,14,12.12,14c1.64,0,1.84-.37,1.84-1V10.68c0-.73.16-.88.68-.88s1,.19,2.56,1.67c1.75,1.75,2,2.53,3,2.53H22.8c.74,0,1.11-.37.9-1.1a11.36,11.36,0,0,0-2.18-3C20.92,9.17,20,8.41,19.75,8s-.28-.71,0-1.14C19.75,6.88,22.89,2.45,23.22,1Z' transform='translate(-0.18)' style='fill: %23fff;fill-rule: evenodd'/%3E%3C/svg%3E");
    }
    &-fb {
      width: 13px;
      height: 26px;
      background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' width='9.35' height='18' viewBox='0 0 9.35 18'%3E%3Cpath d='M6.82,18V9.79H9.58L10,6.59H6.82v-2C6.82,3.62,7.08,3,8.41,3H10.1V.13A21.77,21.77,0,0,0,7.64,0,3.86,3.86,0,0,0,3.52,4.23V6.59H.76v3.2H3.52V18Z' transform='translate(-0.76)' style='fill: %23fff'/%3E%3C/svg%3E");
    }
    &-yt {
      width: 25px;
      height: 18px;
      background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' width='25.71' height='18' viewBox='0 0 25.71 18'%3E%3Cpath d='M25.28,2.81A3.21,3.21,0,0,0,23,.54C21,0,13,0,13,0s-8,0-10,.54A3.21,3.21,0,0,0,.64,2.81,33.34,33.34,0,0,0,.1,9a33.34,33.34,0,0,0,.54,6.19,3.21,3.21,0,0,0,2.27,2.27C4.92,18,13,18,13,18s8,0,10.05-.54a3.21,3.21,0,0,0,2.27-2.27A33.34,33.34,0,0,0,25.82,9,33.34,33.34,0,0,0,25.28,2.81Z' transform='translate(-0.1)' style='fill: %23fff'/%3E%3Cpath d='M10.39,12.86,17.07,9,10.39,5.14Z' transform='translate(-0.1)'/%3E%3C/svg%3E");
    }
    &-yt-name {
      width: 70px;
      height: 22px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='69.66' height='21.52' viewBox='0 0 69.66 21.52'%3E%3Cpath d='M12.85,21.2a3.69,3.69,0,0,1-1.44-2.13A13.73,13.73,0,0,1,11,15.23V13.06a12.54,12.54,0,0,1,.49-3.89A3.94,3.94,0,0,1,13,7a4.93,4.93,0,0,1,2.73-.67A4.68,4.68,0,0,1,18.39,7a3.93,3.93,0,0,1,1.47,2.14,13.18,13.18,0,0,1,.46,3.88v2.17a13.47,13.47,0,0,1-.45,3.86,3.71,3.71,0,0,1-1.47,2.12,4.88,4.88,0,0,1-2.75.68A4.93,4.93,0,0,1,12.85,21.2Zm3.79-2.34a7.27,7.27,0,0,0,.28-2.4V11.79a7.11,7.11,0,0,0-.28-2.36,1,1,0,0,0-1-.75,1,1,0,0,0-1,.75,7.44,7.44,0,0,0-.28,2.36v4.67a7.62,7.62,0,0,0,.27,2.4,1,1,0,0,0,1,.73A1,1,0,0,0,16.64,18.86Z' transform='translate(-0.79 -0.36)' style='fill:%23fff'/%3E%3Cpath d='M64.8,15.27V16c0,1,0,1.68.08,2.16a2.12,2.12,0,0,0,.36,1.06,1,1,0,0,0,.83.33,1.06,1.06,0,0,0,1-.59,5.14,5.14,0,0,0,.31-2l2.91.17c0,.13,0,.31,0,.54a4,4,0,0,1-1.14,3.11,4.63,4.63,0,0,1-3.21,1,3.84,3.84,0,0,1-3.5-1.56,9.18,9.18,0,0,1-1-4.84V12.85a9.09,9.09,0,0,1,1-4.93A4,4,0,0,1,66.1,6.36,4.63,4.63,0,0,1,68.76,7a3.4,3.4,0,0,1,1.31,2,14,14,0,0,1,.38,3.72v2.57ZM65.23,9a2.1,2.1,0,0,0-.35,1c0,.48-.08,1.21-.08,2.19v1.08h2.47V12.19a17.21,17.21,0,0,0-.1-2.19A2,2,0,0,0,66.82,9a1,1,0,0,0-.8-.31A1,1,0,0,0,65.23,9Z' transform='translate(-0.79 -0.36)' style='fill:%23fff'/%3E%3Cpath d='M4.63,15,.79,1.12H4.14L5.49,7.41q.51,2.33.75,4h.1c.12-.78.37-2.1.76-3.94L8.49,1.12h3.35L8,15v6.65H4.63V15Z' transform='translate(-0.79 -0.36)' style='fill:%23fff'/%3E%3Cpath d='M31.22,6.65v15H28.58l-.29-1.83h-.07A3.47,3.47,0,0,1,25,21.89a2.56,2.56,0,0,1-2.21-1,5.27,5.27,0,0,1-.71-3.06V6.65h3.38v11a3.31,3.31,0,0,0,.22,1.43.76.76,0,0,0,.73.42,1.5,1.5,0,0,0,.85-.27,1.7,1.7,0,0,0,.6-.68V6.65Z' transform='translate(-0.79 -0.36)' style='fill:%23fff'/%3E%3Cpath d='M48.53,6.65v15H45.89l-.29-1.83h-.07a3.47,3.47,0,0,1-3.23,2.08,2.53,2.53,0,0,1-2.2-1,5.19,5.19,0,0,1-.71-3.06V6.65h3.37v11A3.31,3.31,0,0,0,43,19.09a.77.77,0,0,0,.74.42,1.49,1.49,0,0,0,.84-.27,1.7,1.7,0,0,0,.6-.68V6.65Z' transform='translate(-0.79 -0.36)' style='fill:%23fff'/%3E%3Cpath d='M40.39,3.84H37v17.8h-3.3V3.84H30.39V1.12h10Z' transform='translate(-0.79 -0.36)' style='fill:%23fff'/%3E%3Cpath d='M59.7,9.05a3.83,3.83,0,0,0-1-2.06,2.66,2.66,0,0,0-1.88-.64,3.15,3.15,0,0,0-1.74.53,3.59,3.59,0,0,0-1.24,1.38h0V.36H50.57V21.64h2.79l.34-1.42h.07A2.84,2.84,0,0,0,55,21.42a3.4,3.4,0,0,0,1.73.44,2.64,2.64,0,0,0,2.52-1.58A11.28,11.28,0,0,0,60,15.36V13A19.12,19.12,0,0,0,59.7,9.05Zm-3.09,6.11a19,19,0,0,1-.13,2.57A2.68,2.68,0,0,1,56,19.05a1,1,0,0,1-.85.39,1.61,1.61,0,0,1-.78-.19,1.54,1.54,0,0,1-.57-.59V10.15a2.06,2.06,0,0,1,.59-1,1.29,1.29,0,0,1,.9-.39.91.91,0,0,1,.8.4,3.16,3.16,0,0,1,.39,1.36,26.13,26.13,0,0,1,.11,2.71v1.93Z' transform='translate(-0.79 -0.36)' style='fill:%23fff'/%3E%3C/svg%3E");
    }
    &-in {
      width: 22px;
      height: 22px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cpath d='M7.33,11A3.67,3.67,0,1,1,11,14.67,3.68,3.68,0,0,1,7.33,11Zm-2,0A5.65,5.65,0,1,0,11,5.35,5.65,5.65,0,0,0,5.35,11Zm10.2-5.87a1.31,1.31,0,0,0,.82,1.22,1.31,1.31,0,0,0,.76.07,1.29,1.29,0,0,0,.68-.36,1.33,1.33,0,0,0,.36-.67,1.35,1.35,0,0,0-.08-.77,1.3,1.3,0,0,0-1.22-.81h0a1.31,1.31,0,0,0-1.32,1.32ZM6.56,20a6,6,0,0,1-2-.37,3.34,3.34,0,0,1-1.26-.83,3.2,3.2,0,0,1-.82-1.26,5.88,5.88,0,0,1-.38-2C2,14.29,2,13.94,2,11s0-3.28.07-4.45a6.13,6.13,0,0,1,.38-2,3.32,3.32,0,0,1,.82-1.26,3.34,3.34,0,0,1,1.26-.83,6,6,0,0,1,2.05-.37C7.72,2,8.06,2,11,2s3.28,0,4.45.07a5.94,5.94,0,0,1,2,.37,3.34,3.34,0,0,1,1.26.83,3.34,3.34,0,0,1,.83,1.26A6,6,0,0,1,20,6.56C20,7.72,20,8.06,20,11s0,3.29-.07,4.45a5.94,5.94,0,0,1-.37,2,3.74,3.74,0,0,1-2.09,2.09,5.94,5.94,0,0,1-2,.37C14.29,20,13.94,20,11,20S7.72,20,6.56,20ZM6.46.07A8,8,0,0,0,3.79.58,5.39,5.39,0,0,0,1.85,1.85,5.26,5.26,0,0,0,.58,3.79,8,8,0,0,0,.07,6.46C0,7.64,0,8,0,11s0,3.36.07,4.54a8,8,0,0,0,.51,2.67,5.26,5.26,0,0,0,1.27,1.94,5.39,5.39,0,0,0,1.94,1.27,8.1,8.1,0,0,0,2.67.51C7.64,22,8,22,11,22s3.36,0,4.54-.07a8,8,0,0,0,2.67-.51,5.39,5.39,0,0,0,1.94-1.27,5.26,5.26,0,0,0,1.27-1.94,8,8,0,0,0,.51-2.67C22,14.36,22,14,22,11s0-3.36-.07-4.54a8,8,0,0,0-.51-2.67,5.39,5.39,0,0,0-1.27-1.94A5.26,5.26,0,0,0,18.21.58,8,8,0,0,0,15.54.07C14.36,0,14,0,11,0S7.64,0,6.47.07' style='fill:%23fff'/%3E%3C/svg%3E");
    }
    &-in-accent {
      width: 39px;
      height: 38px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23E6007E' viewBox='0 0 100 100'%3E%3Cpath d='M33.48,50A16.67,16.67,0,1,1,50.14,66.67,16.67,16.67,0,0,1,33.48,50Zm-9,0A25.68,25.68,0,1,0,50.14,24.33,25.67,25.67,0,0,0,24.47,50ZM70.84,23.31a6,6,0,0,0,1,3.33,5.88,5.88,0,0,0,2.69,2.21A5.94,5.94,0,0,0,78,29.2a6.07,6.07,0,0,0,3.08-1.65,5.91,5.91,0,0,0,1.64-3.07A6,6,0,0,0,82.38,21a6,6,0,0,0-5.54-3.71h0a6,6,0,0,0-6,6ZM29.94,90.7A27.72,27.72,0,0,1,20.66,89a15.48,15.48,0,0,1-5.75-3.74,15.36,15.36,0,0,1-3.74-5.75,27.46,27.46,0,0,1-1.72-9.28c-.24-5.27-.29-6.86-.29-20.21s.05-14.93.29-20.21a27.72,27.72,0,0,1,1.72-9.28,15.56,15.56,0,0,1,3.74-5.75A15.36,15.36,0,0,1,20.66,11,27.46,27.46,0,0,1,29.94,9.3C35.21,9.06,36.8,9,50.14,9s14.94.05,20.21.29A27.8,27.8,0,0,1,79.64,11a15.44,15.44,0,0,1,5.75,3.74,15.56,15.56,0,0,1,3.74,5.75,27.74,27.74,0,0,1,1.72,9.29c.24,5.27.29,6.85.29,20.2s0,14.93-.29,20.21a28,28,0,0,1-1.72,9.28A16.55,16.55,0,0,1,79.64,89a27.48,27.48,0,0,1-9.29,1.72c-5.27.24-6.85.29-20.21.29s-14.93,0-20.2-.29ZM29.53.3A36.79,36.79,0,0,0,17.39,2.63,24.43,24.43,0,0,0,8.54,8.39a24.41,24.41,0,0,0-5.77,8.86A36.51,36.51,0,0,0,.45,29.39C.2,34.72.14,36.42.14,50S.2,65.28.45,70.61A36.51,36.51,0,0,0,2.77,82.75a24.41,24.41,0,0,0,5.77,8.86,24.61,24.61,0,0,0,8.85,5.76A36.85,36.85,0,0,0,29.53,99.7c5.33.24,7,.3,20.61.3s15.29-.06,20.62-.3A36.79,36.79,0,0,0,82.9,97.37,25.55,25.55,0,0,0,97.52,82.75a36.51,36.51,0,0,0,2.32-12.14c.24-5.33.3-7,.3-20.61s-.06-15.28-.3-20.61a36.51,36.51,0,0,0-2.32-12.14,24.63,24.63,0,0,0-5.77-8.86A24.43,24.43,0,0,0,82.9,2.63,36.54,36.54,0,0,0,70.76.3c-5.33-.24-7-.3-20.61-.3S34.87.06,29.53.3' transform='translate(-0.14)'/%3E%3C/svg%3E");
    }
    &-tw {
      width: 37px;
      height: 32px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='543.68' height='460.39' viewBox='0 0 543.68 460.39'%3E%3Cpath d='M527.66,106.7q-4,1.17-8,2.19c-16.39,4.14-17.89-1.32-6-13.37a109.26,109.26,0,0,0,14.08-17.6c9.14-14.22,1.21-20.42-14.33-13.78q-8.33,3.56-16.9,6.43c-16,5.38-38.75-2.73-53-11.79q-27-17.13-61.44-17.13-48.19,0-82.19,34t-34,82.19a121.63,121.63,0,0,0,.75,13.38c.81,7.36-11.59,12.7-28.32,10.34a321.61,321.61,0,0,1-103.17-32.89A330.88,330.88,0,0,1,49.49,85.71c-11.82-12.09-27.8-11-32.22,5.27a116.58,116.58,0,0,0-3.95,30.52,113.2,113.2,0,0,0,14,55.39,119.38,119.38,0,0,0,16.35,23C54.22,211.43,52.61,218.14,38,214s-25.37-10.2-25.37-9.8V205Q12.59,247,39,278.86a115.58,115.58,0,0,0,37.83,30.28c15.15,7.5,22.2,11.69,13.73,12.78a118.48,118.48,0,0,1-15.42,1q-5.25,0-11-.49c-6.06-.51-7.15,12.11,2,26.3a116.26,116.26,0,0,0,28,29.76,113.81,113.81,0,0,0,37.41,18.8c16.26,4.63,19.52,13.07,5,21.76Q82.88,451.33,17.62,451.33q-7.35,0-14-.33C-4.18,450.63,1,457.46,16,465.3Q86.16,502.05,168,502q61.86,0,116.18-19.6t92.79-52.52a351.3,351.3,0,0,0,66.36-75.71,337.43,337.43,0,0,0,41.55-89.37A330.52,330.52,0,0,0,498.5,171.5c0-2.81,0-5.34-.06-7.56-.09-4.17,10.95-15.47,23.28-27q8.34-7.83,15.93-16.44C548.83,107.78,543.88,102,527.66,106.7Z' transform='translate(0 -41.65)'/%3E%3C/svg%3E%0A");
    }
  }
  &-small {
    .social-item-in {
      width: 23px;
      height: 23px;
    }
    .social-item-fb {
      width: 12px;
      height: 23px;
    }
    .social-item-tw {
      width: 23px;
      height: 19px;
    }
  }
}

/*------------------------------------*\
  Breadcrumbs
\*------------------------------------*/
.breadcrumbs {
  @include clearlist();
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 15px;
  li {
    display: flex;
    align-items: center;
    align-content: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: lowercase;
    color: #d1d1d1;
    a {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-decoration: none;
      color: $color-accent;
      text-transform: lowercase;
      transition: all ease .3s;
    }
    &:not(:last-child) {
      &:after {
        content: '';
        position: relative;
        display: inline-block;
        width: 8px;
        height: 12px;
        margin-left: 10px;
        margin-right: 10px;
        background: transparent url(../img/elements/arrow-next-grey.svg) 0 0 no-repeat;
      }
    }
    &:last-child {
      color: #d1d1d1;
      a {
        color: $color-text;
        pointer-events: none;
        transition: all ease .3s;
      }
    }
  }
}

/*------------------------------------*\
  Mobile Dropdown Navigation
\*------------------------------------*/
.drop-nav-mob-title {
  margin-bottom: 9px;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
.drop-nav-mob {
  margin-bottom: 35px;
  @media (min-width: 1280px) {
    display: none;
  }
}

.clear-list {
  @include clearlist();
}

/*------------------------------------*\
  Tabs
\*------------------------------------*/
.tab-wrap {
  &-select {
    max-width: 300px;
    margin-bottom: 40px;
  }
  @media (min-width: 1200px) {
    &-select {
      display: none;
    }
  }
}

.tab-head-desk {
  display: none;
  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-accent;
    margin-bottom: 40px;
    &-btn {
      padding: 10px 15px;
      color: $color-text;
      font-weight: 500;
      font-size: 18px;
      line-height: 1;
      cursor: pointer;
      &.active {
        box-shadow:
        0 -1px 0 $color-accent,
        -1px 0 0 $color-accent,
        1px 0 0 $color-accent;
        border-bottom: none;
        color: $color-accent;
        //border: 1px solid $color-accent;
      }
    }
    &-mob {
      display: none;
    }
  }
}

.tab-content {
  &-item {
    display: none;
  }
  &-title {
    h1, h2, h3, h4, h5 {
      margin-top: 0;
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
    }
  }
  &-text {
    h1, h2, h3, h4, h5 {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    p {
      font-size: 12px;
      font-weight: 300;
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      padding-left: 25px;
      font-size: 12px;
      font-weight: 300;
    }
  }
  &-side-img {
    display: none;
  }
  @media (min-width: 768px) {
    &-title {
      h1, h2, h3, h4, h5 {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 24px;
      }
    }
    &-text {
      h1, h2, h3, h4, h5 {
        font-size: 20px;
        line-height: 24px;
      }
      p {
        font-size: 14px;
        line-height: 18.9px;
      }
      ul {
        font-size: 14px;
        line-height: 18.9px;
      }
    }
  }
  @media (min-width: 960px) {
    &-title {
      h1, h2, h3, h4, h5 {
        margin-bottom: 40px;
      }
    }
    &-flex {
      display: flex;
      &-col {
        &:first-child {
          flex: 0 0 64%;
          margin-right: 5%;
        }
      }
      &-col {
        &:last-child {
          flex: 0 0 31%;
          align-self: start;
        }
      }
    }
    &-side-img {
      display: block;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  @media (min-width: 1200px) {
    &-title {
      h1, h2, h3, h4, h5 {
        font-size: 24px;
        line-height: 29px;
      }
    }
    &-text {
      p {
        font-size: 16px;
        line-height: 21.6px;
      }
      ul {
        font-size: 16px;
        line-height: 21.6px;
      }
    }
  }
}

.file-list {
  &-item {
    margin-bottom: 60px;
  }
  &-title {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: $color-grey;
  }
  &-doc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    a {
      color: $color-grey;
      text-decoration: none;
    }
    &:before {
      content: '';
      display: block;
      flex: 0 0 34px;
      width: 34px;
      height: 32px;
      margin-right: 20px;
      background: transparent url(../img/elements/icon-pdf-2.svg) 0 0 no-repeat;
      background-size: contain;
    }
  }
  @media (min-width: 768px) {
    margin: 50px auto;
    &-title {
      font-size: 20px;
      line-height: 34px;
    }
    &-doc {
      margin-bottom: auto;
      font-size: 20px;
      line-height: 34px;
    }
  }
  @media (min-width: 1200px) {
    width: 920px;
  }
}

/*------------------------------------*\
  Navigation Menu Catalog
\*------------------------------------*/
.menu-wrap {
  padding: 0 28px;
  @media (min-width: 1200px) {
    padding: 0 69px;
  }
  @media (min-width: 1500px) {
    padding: 0 103px;
  }
}
.menu {
  @include clearlist();
  ul {
    @include clearlist();
  }
  &-item {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
    color: $color-accent;
    a {
      position: relative;
      z-index: 1;
      padding-right: 35px;
      display: block;
      text-decoration: none;
    }
    > a {
      font-weight: 500;
    }
    &.active {
      > a {
        color: #000;
      }
    }
  }
  &-dropdown {
    &-icon {
      position: absolute;
      top: 0px;
      right: 0;
      z-index: 3;
      display: block;
      width: 30px;
      height: 30px;
      background: transparent url(../img/elements/icon-shevron.svg) center no-repeat;
      background-size: 20px 11px;
      cursor: pointer;
      transition: all ease-in-out .3s;
    }
    ul {
      opacity: 0;
      visibility: hidden;
      height: 0;
      overflow: hidden;
      transition: all ease .3s;
      li {
        margin-bottom: 8px;
        a {
          font-weight: 300;
          font-size: 16px;
          line-height: 20px;
          color: $color-accent;
        }
      }
    }
    &.drop {
      ul {
        opacity: 1;
        visibility: visible;
        padding-top: 8px;
        height: auto;
      }
      .menu-dropdown-icon {
        transform: rotate(180deg);
      }
    }
  }
  @media (min-width: 1500px) {
  }
}

/*------------------------------------*\
  Additional Navigation
\*------------------------------------*/
.sub-nav {
  margin: 30px 0 25px;
  &-link {
    text-align: center;
  }
  @include tablet {
    margin: 50px 0 50px;
  }
  @include desk {
    margin: 50px 0 100px;
  }
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
  h1, h2, h3, h4, h5 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: $color-grey;
  }
  p {
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: $color-grey;
  }
  ul {
    margin: 30px 0;
    padding-left: 20px;
    li {
      font-weight: 300;
      font-size: 16px;
      line-height: 25px;
      color: $color-grey;
    }
  }
  img {
    margin: 50px 0;
  }
  @include tablet {
    width: 600px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 34px;
    h1, h2, h3, h4, h5 {
      margin-top: 75px;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 26px;
      line-height: 30px;
    }
    p {
      margin-bottom: 50px;
      font-weight: 300;
      font-size: 20px;
      line-height: 34px;
    }
    ul {
      li {
        font-size: 20px;
        line-height: 34px;
      }
    }
  }
  @include tablet-big {
    width: 720px;
  }
  @include laptop {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 880px;
  }
  @include desk {
    width: 1140px;
  }
}

.service {
  [class*="copyrights-pane"] {
    display: none !important;
  }
  &-map {
    width: 100%;
    height: 560px;
    margin: 30px auto;
  }
  @include laptop {
    width: 1100px;
    margin: 0 auto;
  }
  @include desk {
    width: 1280px;
  }
}

.city {
  margin-bottom: 50px;
  &-item {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #d1d1d1;
    &:first-child {
      padding-top: 12px;
      border-top: 1px solid #d1d1d1;
    }
  }
  &-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
  }
  &-phone {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 16px;
    color: $color-accent;
  }
  &-address {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
  }
  @include tablet {
    &-item {
      display: grid;
      grid-template-columns: 150px 200px auto;
      column-gap: 40px;
    }
    &-title {
      font-size: 28px;
    }
    &-phone {
      font-size: 20px;
      line-height: 34px;
    }
    &-address {
      font-size: 20px;
      line-height: 34px;
    }
  }
  @include laptop {
    &-item {
      grid-template-columns: 200px 200px auto;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @include desk {
    &-item {
      column-gap: 60px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}